body {
    color: rgb(80,52,24);
    background-color: rgb(252,246,243);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px; 
    margin: 0; 
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 5%;
}

footer {
    color: rgb(80,52,24);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
    margin: 0; 
    text-align: center;
}

nav {
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    width: 100%;
}

nav a {
    margin: 10px; 
    text-decoration: none;
    font-size: 30px; 
    color: rgb(153, 0, 17);
}

nav a:hover {
    text-decoration: underline;
}

.logo img {
    width: 25%; 
    height: auto;
    margin-bottom: 0;
}

#slogan {
    font-size: 45px;
    color: rgb(153, 0, 17);
    margin: 1px;
}

.button {
    display: inline-block;
    background-color: rgb(153, 0, 17);
    color: rgb(252,246,243);
    padding: 10px 20px; 
    font-size: 30px; 
    text-decoration: none;
    border-radius: 30px;
    margin-top: 5%;
}

.button:hover {
    background-color: rgb(120, 0, 13);
}

.carousel-btn {
    background-color: transparent; 
    color: rgb(153, 0, 17);
    border: none; 
    padding: 0; 
    font-size: 30px;
    cursor: pointer; 
    width: auto; 
    height: auto; 
    margin: 0 10px; 
}

.carousel-btn::before {
    content: "<"; 
    display: inline-block; 
    font-size: 30px; 
}

.carousel-btn.right-btn::before {
    content: ">";
}

.content {
    padding: 20px; 
}

.content h1 {
    font-size: 40px;
    color: rgb(153, 0, 17);
}

.content p {
    font-size: 25px; 
}

footer {
    background-color: rgb(252,246,243);
    padding: 10px 0; 
}

footer p {
    font-size: 20px;
    color: rgb(80, 52, 24);
}

footer a {
    color: rgb(153, 0, 17); 
}


.blog {
    padding: 5%;
}

.blog h2 {
    font-size: 30px; 
    color: rgb(153, 0, 17);
    margin-bottom: 30px;
}

.blog-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.carousel-btn {
    background-color: rgb(153, 0, 17);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 18px; 
    cursor: pointer;
}

.carousel-btn:hover {
    background-color: rgb(120, 0, 13);
}

.blog-post {
    padding: 10px;
    text-align: center;
    width: 100%; 
}

.post-image {
    max-width: 100%; 
    height: auto; 
    /*background-color: rgb(80, 52, 24);*/
    margin-bottom: 15px;
}

.blog-post h3 {
    font-size: 30px; 
    color: rgb(80, 52, 24);
    margin-bottom: 10px;
}

.post-date {
    font-size: 15px;
    color: rgb(120, 120, 120);
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 25px;
    margin-bottom: 15px;
}

.read-more {
    font-size: 25px; 
    color: rgb(153, 0, 17);
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}
.read-all {
    display: block; 
    color: rgb(153, 0, 17); 
    font-size: 30px;  
    margin: 20px auto; 
    max-width: 300px; 
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.flex-container {
    display: flex;
    align-items: flex-start; 
    margin-top: 20px;
}

.image {
    margin-right: 20px; 
}

.description {
    max-width: 600px; 
    text-align: left; 
    margin-left: 15%;
}
.social-media {
    margin-top: 20px; 
}

.social-icon {
    font-size: 30px; 
    margin: 0 15px; 
    color: rgb(153, 0, 17);
    text-decoration: none; 
}

.social-icon:hover {
    color: rgb(120, 0, 13); 
}


@media (max-width: 700px) {
    body {
        font-size: 16px; 
    }
    header {
        flex-direction: column;
    }
    .blog-carousel {
        flex-direction: column; 
        align-items: flex-start;
    }

    .carousel-btn {
        display: none; 
    }
    .logo img {
        width: 50%; 
    }
    .flex-container {
        flex-direction: column; 
        align-items: center; 
        width: 100%;
        text-align: center;
    }
    .flex-container img {
        width: 100%
        margin-bottom: 20px;
    }
    .description {
        width: 100%;
        text-align: center; 
        padding: 0 10px;
    }

}

@media (min-width: 1200px) {
    body {
        font-size: 20px; 
    }
    .content {
        padding: 40px 10%; 
    }
    .blog-post {
        width: 250px; 
    }
    .button {
        padding: 15px 30px;
        font-size: 35px; 
    }
}
